// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
// Import Vuetify styling

@require '~assets/stylus/theme.styl'
@require '~assets/stylus/variables.styl'

@require '~vuetify/src/stylus/main.styl'

html, body {
  min-height: 100vh
  padding-right: 0 !important
  font-family: 'Muli', sans-serif
  font-weight: 400
  letter-spacing: -0.02rem
  overflow: hidden
}
