@require '~vuetify/src/stylus/settings/_colors.styl'

$theme := {
  primary: #ff0056
  accent: #24ABD8
  secondary: #343944
  lightBase: #e6ecf0
  darkBase: #272a33
  info: $blue.base
  warning: $amber.base
  error: #ff5252
  success: $green.base
  borderDefault: #dbdbdb
}
